body {
    background-color: white;
    font-family: Geneva;
}
h1 {
    font-size: 24px;
    color: black;
    text-transform: uppercase;
}
h2 {
    font-size: 18px;
    color: dimgray;
    text-transform: uppercase;
}
h3 {
    font-size: 14px;
    color: dimgray;
    text-transform: uppercase;

}
p { 
    font-size: 12px;
    color: black;
    width: 250px;
    border: 2px;
    padding: 10px;
}
div.center {
    text-align: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-bottom-color: black;
    border-top-color: gainsboro;
    text-transform: uppercase;
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}

li {
    font-size: 12px;
    color: black;
}

a:link { 
    font-size: 12px;
    color:black;
    text-decoration: none;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: powderblue;
}

table {
    width: 800px;
}
th, td {
    padding: 7px 10px 10px 10px;
}
th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 13px;
    border-bottom: 2px solid;
    text-align: left;
    border-color: black; 
}
td {
    font-size: 12px;
}

#center {
    text-align: center;
    image-orientation: center;
}

img.center {
    display: block;
    margin: auto;
    width: 40%;
}

ul {
    list-style-type: square;
}
